<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" type="text/css" href="${urlPublic}/css/styles.css">
</head>

<body>
<!-- Principal -->
<div class="grid-x grid-padding-x align-center-middle l-comandos">
    <div class="cell small-12 medium-4 text-white">
        <div class="grid-x align-center-middle">
            <div class="cell large-1 text-center">
                <div class="icon-object">
                    <i class="icon icon-phone2"></i>
                </div>
            </div>
            <div class="cell large-11">
                <p class="main-title">Proyecto</p>
                <p class="subtitle">IXPERY S.A.C</p>
            </div>
        </div>
    </div>
    <div class="cell small-12 medium-4">
        <div class="grid-x">
            <div class="cell small-4 medium-4 large-4 text-center">
                <button class="btn btn-light">Nuevo</button>
            </div>
            <div class="cell small-4 medium-4 large-4 text-center">
                <button class="btn btn-primary">Guardar</button>
            </div>
            <div class="cell small-4 medium-4 large-4 text-center">
                <button class="btn btn-secondary">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="cell small-12 medium-4">
        <!--Icono de Notificaciones-->
    </div>
</div>
<!-- Fin Principal -->

<!-- Formulario -->
<div class="l-container">
    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
            <div class="form-group">
                <label class="label text-primary">Código: </label>
                <input class="form-control" type="text" placeholder="Código">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Jefe Proyecto: </label>
                <input class="form-control" type="text" placeholder="Jefe Proyecto">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Tiempo Estimado: </label>
                <input class="form-control" type="text" placeholder="Tiempo Estimado">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Fecha Registro: </label>
                <input class="form-control" type="text" placeholder="Fecha Registro">
            </div>
        </div>
    </div>




    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
            <div class="form-group">
                <label class="label text-primary">Proyecto: </label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Fecha Inicio: </label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Inversión Estimada: </label>
                <input class="form-control" type="text" placeholder="Inversión Estimado">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Hora Registro: </label>
                <input class="form-control" type="text">
            </div>
        </div>
    </div>


    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
            <div class="form-group">
                <label class="label text-primary">Empresa: </label>
                <input class="form-control" type="text" placeholder="Empresa">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Fecha Probable Final: </label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Requerimientos: </label>
                <input class="form-control" type="text" placeholder="Requerimientos">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Rango Fechas: </label>
                <input class="form-control" type="text" placeholder="Usuario Registro">
            </div>
        </div>
    </div>




    <div class="grid-x grid-padding-x">
        <div class="cell large-3">
            <div class="form-group">
                <label class="label text-primary">Estado: </label>
                <input class="form-control" type="text" >
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Fecha Fin: </label>
                <input class="form-control" type="text" placeholder="Jefe Proyecto">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Usuario Registro: </label>
                <input class="form-control" type="text" placeholder="Tiempo Estimado">
            </div>
        </div>
        <div class="cell large-3">
            <div class="form-group">
                <label class="label">Rango Fecha: </label>
                <input class="form-control" type="text" placeholder="Fecha Registro">
            </div>
        </div>
    </div>
</div>
<!-- Fin Formulario -->

<!-- Tabla -->
<div class="grid-x grid-padding-x l-container">
    <div class="cell large-12">
        <table class="table">
            <thead class="thead-primary">
            <th>PROYECTO<i class="icon-buscar icon-search4"></i></th>
            <th>EMPRESA<i class="icon-buscar icon-search4"></i></th>
            <th>JEFE PROYECTO<i class="icon-buscar icon-search4"></i></th>
            <th>F. INICIO<i class="icon-buscar icon-search4"></i></th>
            <th>F. PROB. FIN<i class="icon-buscar icon-search4"></i></th>
            <th>ESTADO<i class="icon-buscar icon-search4"></i></th>
            <th>TIEMPO ESTIMADO</th>
            <th>INVERSION ESTIMADA</th>
            </thead>
            <tbody>
            <tr>
                <td>Cableado</td>
                <td>Movistar</td>
                <td>Pepito</td>
                <td>12/12/2018</td>
                <td>13/12/2018</td>
                <td>Cotización</td>
                <td>3</td>
                <td>50000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Fin Tabla -->

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script language="JavaScript" src="${urlPublic}/js/Sistema/ScriptProyecto.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script >
<!-- End JavaScript -->

</body>
</html>

